body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

a {
	text-decoration: none;
}

#zTop {
	transition: all 1s linear;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #168bd8;
	z-index: 999;
}

.header .logo {
	width: 120px;
	height: 40px;
	background: url(../img/header_z_94c6de7.png);
	background-position: 0 0;
	margin-top: 10px;
}

.header a {
	display: block;
	color: #fff;
	float: left;
	text-align: center;
	height: 60px;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
	.header a {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.header a:hover {
	color: #67cbff;
	text-decoration: none;
}

.header .san {
	line-height: 60px;
	color: #fff;
	text-align: right;
}

.btm_img {
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: -15px;
	animation: btn_img .5s linear infinite alternate;
	-webkit-animation: btn_img .5s linear infinite alternate;
	-moz-animation: btn_img .5s linear infinite alternate;
	-ms-animation: btn_img .5s linear infinite alternate;
	z-index: 999;
}


/*section*/

.section1 {
	position: relative;
	background: url(../img/bg-0_c25cb21.jpg);
}

.section1 .left1,
.section1 .right1 {
	text-align: center;
	height: 100%;
}

.section1 .left1 .zi {
	max-width: 100%;
	margin-top: 110px;
}

.section1 .left1 .feiji {
	position: absolute;
	top: 90px;
	right: 10%;
	animation-name: feiji;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.section1 .right1 img,
.section2 .right img,
.section3 .right img,
.section4 .right img {
	max-width: 100%;
	margin-top: 110px;
}
.section2 .left .col-xs-5,
.section3 .left .col-xs-5,
.section4 .left .col-xs-5 {
	text-align: center;
}

.section1 .btm {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: rgba(0, 0, 0, 0.4);
}

.section1 .ship {
	position: absolute;
	bottom: 85px;
	left: 300px;
	transition: left 1s linear;
}

.section1 .hill_1,
.section1 .hill_2,
.section1 .hill_3 {
	position: absolute;
	bottom: 0px;
}

.section1 .hill_1 {
	left: 0;
}

.section1 .hill_2 {
	top: -20px;
	left: 60%;
}

.section1 .hill_3 {
	right: 20px;
}

.section1 .yun1:before,
.section1 .yun1:after {
	content: ' ';
	width: 100%;
	height: 200px;
	position: absolute;
	top: 20px;
	left: 0;
	background: url(../img/cloud_1_1d4924b.png) no-repeat;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-duration: 20s;
	-ms-animation-duration: 20s;
	-webkit-animation-duration: 20s;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

.section1 .yun1:before {
	animation-name: aa;
	-webkit-animation-name: aa;
	-moz-animation-name: aa;
	-ms-animation-name: aa;
}

.section1 .yun1:after {
	animation-name: bb;
	-webkit-animation-name: bb;
	-moz-animation-name: bb;
	-ms-animation-name: bb;
}

.section1 .yun2:before,
.section1 .yun2:after {
	content: ' ';
	width: 100%;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 0;
	background: url(../img/cloud_2_a186193.png) no-repeat;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-duration: 20s;
	-ms-animation-duration: 20s;
	-webkit-animation-duration: 20s;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

.section1 .yun2:before {
	animation-name: aa;
	-webkit-animation-name: aa;
	-moz-animation-name: aa;
	-ms-animation-name: aa;
}

.section1 .yun2:after {
	animation-name: bb;
	-webkit-animation-name: bb;
	-moz-animation-name: bb;
	-ms-animation-name: bb;
}

.section1 .yun3:before,
.section1 .yun3:after {
	content: ' ';
	width: 100%;
	height: 200px;
	position: absolute;
	top: 35px;
	left: 0;
	background: url(../img/cloud_3_5ee0340.png) no-repeat;
	animation-duration: 20s;
	-moz-animation-duration: 20s;
	-ms-animation-duration: 20s;
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

.section1 .yun3:before {
	animation-name: aa;
	-webkit-animation-name: aa;
	-moz-animation-name: aa;
	-ms-animation-name: aa;
}

.section1 .yun3:after {
	animation-name: bb;
	-webkit-animation-name: bb;
	-moz-animation-name: bb;
	-ms-animation-name: bb;
}
.section2 {
	background: url(../img/bg-1_e29bcfa.jpg);
	position: relative;
}

.section2 .left,
.section2 .right,
.section3 .left,
.section3 .right,
.section4 .left,
.section4 .right {
	height: 100%;
}

.section2 .left img,
.section3 .left img,
.section4 .left img {
	margin-top: 200px;
}

.section2 .left,
.section3 .left,
.section4 .left {
	transform: translateX(-200px);
	transition: transform 1s linear;
}

.section2 .right img,
.section3 .right img,
.section4 .right img {
	transform: translateX(200px);
	transition: transform 1s linear;
}

.section2 .left .lingxian,
.section3 .left .lingxian,
.section4 .left .lingxian {
	margin-right: 10px;
	animation: lingxian 2s infinite;
	-moz-animation: lingxian 2s infinite;
	-webkit-animation: lingxian 2s infinite;
	-ms-animation: lingxian 2s infinite;
}

.section2 .l1,
.section2 .l2,
.section2 .l3,
.section2 .l4,
.section2 .l5 {
	position: absolute;
	bottom: 0;
}

.section2 .l1 {
	width: 44px;
	height: 44px;
	background-color: #35b568;
	left: 70px;
}

.section2 .l2 {
	width: 88px;
	height: 88px;
	background-color: #4ac179;
	left: 160px;
}

.section2 .l3 {
	width: 44px;
	height: 44px;
	background-color: #8ae75a;
	left: 248px;
}

.section2 .l4 {
	width: 44px;
	height: 44px;
	background-color: #8ae75a;
	right: 190px;
}

.section2 .l5 {
	width: 44px;
	right: 270px;
	height: 44px;
	background-color: #4ac179;
}

.section3 {
	background: url(../img/bg-2_867b7b4.jpg);
	position: relative;
}

.section3 .btm {
	width: 100%;
	height: 138px;
	background: url(../img/bg-3-head_b8a3f7f.png)no-repeat center;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
}

.section4 {
	background: url(../img/bg-3_153a003.jpg);
	position: relative;
}

.section4 .btm {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #FFF;
	position: absolute;
	bottom: 0;
}


/*btn*/

.btnbox {
	width: 20px;
	height: 130px;
	position: fixed;
	right: 50px;
	top: 50%;
	margin-top: -65px;
	z-index: 999;
}

.btnbox .btn {
	width: 19px;
	height: 19px;
	border: 1px solid #ddd;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	margin: 10px 0;
}

.btnbox .btn.active {
	border: 1px solid #333;
	background: rgba(255, 255, 255, 0.5);
}